/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.line{
  text-decoration: underline;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #555;
}

/* Header styles */
header {
  background-color: #343a40;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

/* Card styles */
.card {
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.price-line-through {
  color: #999;
  text-decoration: line-through;
}

/* Footer styles */
footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-item {
    margin-right: 10px;
  }

  .navbar-collapse {
    padding: 10px;
  }

  header h1 {
    font-size: 2rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 20px;
  }
}

.buttonstyl{
margin-top: auto;
}